body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}
h1{
  color: red;
  
}
button{
  border: none;
  outline: none;
  padding: 10px 30px;
background: deepskyblue;
  
}